body {
    background-image: url("1463003708-dj-mixers.gif");
    background-size:2500px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.header {
    margin:0;
    width: 100%;
    font-size: xx-large;

}
.volume {
    float:right;
}
#spekr {
width:259px;
height:160px;
}
.amspeed {
    float:left;
}
canvas {
    background: brown;
    border-radius: 40px;
}